<div class="container">
	<footer class="footer">
	<small>
		Copyright &copy; <a href="https://asmit-bhantana.herokuapp.com/">Asmit Bhantana</a></small>
	<nav>
		<ul>
			<li>About</li>
		</ul>
	</nav>
</footer>
</div>
	

</div>
